form{
    margin: 10px;
}
.navBar{
    text-decoration: none;
    padding: 5px 5px;
    margin: 5px 5px 5px 5px;
    border: 1px solid #333;
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
}
a{
    text-decoration: none;
    padding: 5px 5px;
    margin: 5px 5px 5px 5px;
}
table{
    border-collapse: collapse;
    border: 1px solid grey;
    padding: 0px 0px;
    margin: 10px;
}
tr{
    border: 1px solid grey;
    padding: 0px 15px;
    margin: 0;
}
td{
    border: 1px solid grey;
    padding: 0px 15px;
    margin: 0;
}
html, body{
    padding: 0;
    margin: 0;
    height: 100%;
}
#wrapper{
    min-height: 100%;
    background-color: #fff;
}
#empty-div{
    height: 70px;
    clear: both;
}
.clearfix:after{
    content: ". ";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
header{
    height: 70px;
    background: #e20074;
}
nav{
    height: 40px;
    background: #ff80c2;
}
#content{
    margin-top: 30px;
}
#page-content{
    float: right;
    width: 70%;
    min-height: 300px;
    background: #FDF5E6;
}
aside{
    float: left;
    width: 28%;
    margin-right: 2%;
    min-height: 300px;
    background: #FDF5E6;
}
footer {
    position: absolute;
    width: 100%;
    height: 50px;
    margin-top: -50px;
    clear: both;
    background-color: #FDF5E6;
}

/* для формы  */
.form-element{
    margin: 5px 0;
}
.form-element label{
    float: left;
    width: 90px;
}
input[type="submit"]{
    background: #e20074;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #ccc;
}
input[type="reset"]{
     background: #e20074;
     color: #fff;
     padding: 5px 10px;
     border: 1px solid #ccc;
 }